h1 {
    color: darkblue;
    font-size: 36px;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}

p {
    color: #333;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: justify;
    line-height: 1.6;
}
